body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{ 
	color: #666;
	padding: 0px;
	font-size: 70px;
	font-family: "trebuchet ms", sans-serif;    
}
.text-justify
{
	text-align: center;
	margin: 40px
}
.page-header
{
	background-color: maroon;
	color: white;
}
img
{
align-content: center;
}
h2
{
	text-align: center;
}
.carousel-inner
{
	height: 400px;
}
